- @albums.each_with_index do |album, i|
  %li{ :class => "album #{i % 2 == 0 ? "even" : "odd"}", :ref => album.id }
    .left
      = haml :_album, :locals => { :album => album }, :layout => false
      - if @value_method
        %span.value= "(#{album.send @value_method})"
    .right
      %a.add{ :href => "#", :ref => album.id }
        %img{ :src => "/images/add.png", :title => "Add Album to Upcoming Albums" }
    .clear