%section
  %aside.left
    #volume

  %article
    %p.album The Wombats - A Guide To Love, Loss & Desperation
    %p.track (11/13) The Wombats - Dr Suzanne Mattox PhD
    %footer
      %p.nominator by Dr. Random
      %p.time -1:23 (4:33)
