%section.music
  %header
    %h1 Music
    %a.update-lib{ :href => "/library/update", :method => :post, :title => "Show me my new shit!" }
      %img{ :src => "/images/update.png" }
    %form#search{ :action => "search", :method => :get, :onSubmit => "return false;" }
      %input#query{ :type => "text", :name => "q", :value => params[:q], :autocomplete => "off", :placeholder => "Search for albums..." }
      %a.shuffle{ :href => "/search?q=shuffle", :title => "I don't have much time, just gimme something!" }
        %img{ :src => "/images/shuffle.png" }
      %p.quick-links
        Artist Index:
        - ("A".."Z").each do |char|
          %a.artist-index{ :href => "/music/search?q=artist:#{char}", :ref => char }= char
  %section.list
  .overlay
    %img.spinner{ :src => "/images/spinner.gif" }

%section.upcoming
  %header
    %h1 Nominated
  %section.list

%section.updates
  %header
    %h1 Log
  %section.list

#modal-dialog
