%section.music
  %header
    %h1 Music
    %form#search{ :action => "search", :method => :get }
      %a.shuffle.random{ :href => "/list/random", :title => "I don't have much time, just gimme something!" }
        %img{ :src => "/images/shuffle.png" }
      %input#query{ :type => "search", :name => "q", :value => params[:q], :placeholder => "Search for albums..." }
  %section#list
  .overlay
    %img.spinner{ :src => "/images/spinner.gif" }

%section.upcoming
  %header
    %h1 Nominated
  %section#top

%section.news
  %header
    %h1 Updates
  %section
