%section.music
  %header
    %h1 Music
    %form#search{ :action => "search", :method => :get, :onSubmit => "return false;" }
      %a.shuffle{ :href => "/search?q=shuffle", :title => "I don't have much time, just gimme something!" }
        %img{ :src => "/images/shuffle.png" }
      %input#query{ :type => "search", :name => "q", :value => params[:q], :autocomplete => "off", :placeholder => "Search for albums..." }
  %section.list
  .overlay
    %img.spinner{ :src => "/images/spinner.gif" }

%section.upcoming
  %header
    %h1 Nominated
  %section.list

%section.updates
  %header
    %h1 Log
  %section.list
