.album_list.list
  %p
    %b Albums available in the Library
  %form#search{ :action => "search", :method => :get }
    %input#query{ :type => "text", :name => "q", :value => params[:q] }
    %input{ :type => "submit", :value => "Search" }
    %button#clear{ :type => "button" } Clear
       
  %ul#list
  
.album_list.upcoming
  %p
    %b Nominated Albums
  #top
  
  %ul#upcoming