.album_list.list
  %p
    %b Library Albums
  %form#search{ :action => "search", :method => :get }
    %input#query{ :type => "text", :name => "q", :value => params[:q] }
    %input{ :type => "submit", :value => "Search" }
    %button#clear{ :type => "button" } Clear
  
  %ul#tabs
    %li
      %a.all{ :href => "#", :title => "Show all albums" } All
    %li
      %a.most_listened{ :href => "#", :title => "Show the albums that where listened to the most" } Most List.
    %li
      %a.top_rated{ :href => "#", :title => "Show the best rated albums" } Top Rated
    %li
      %a.most_popular{ :href => "#", :title => "Show the albums with the best '+' votes per nomination ratio" } Best +/#
    %li
      %a.least_popular{ :href => "#", :title => "Show the albums with the worst '-' votes per nomination ratio" } Worst -/#
    %li
      %a.never_nominated{ :href => "#", :title => "Show the albums which have never been nominated" } Never Nom.
  
  %ul#list
  .overlay
    %img.spinner{ :src => "/images/spinner.gif" }

.album_list.upcoming
  %p
    %b Nominated Albums
  #top
  
  %ul#upcoming
