!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Vote Your Album! - Trike
    
    %link{ :rel => "stylesheet", :href => "stylesheets/jquery.ui.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "stylesheets/jquery.rating.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css", :type => "text/css", :charset => "utf-8" }

    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1");
      google.load("jqueryui", 1);
    %script{ :src => "javascripts/jquery.form.js", :type => "text/javascript" }
    %script{ :src => "javascripts/jquery.rating.js", :type => "text/javascript" }
    %script{ :src => "javascripts/application.js", :type => "text/javascript" }

  %body
    #wrap
      .header
        .title
        .main_controls
          .left
            - { "previous" => "Previous Song", "stop" => "Stop Playback",                   |
                "play" => "Start Playback", "next" => "Next Song" }.each do |action, title| |
              %a.control{ :href => "#", :ref => action }
                %img{ :src => "/images/#{action}.png", :title => title }
            #slider
          .middle
            #rate_current
              - (1..5).each do |i|
                %input.rate_star{ :name => "rate", :type => "radio", :value => i }
            #current
          .right
            %a#play{ :href => "#" } Start Playback
            %a#force{ :href => "#" }
              Force Next (
              %span.necessary
              more )
            
      .content
        = yield
      
      .news
        %b News
        %ul
          %li The number of 'force votes' necessary now depends on the number '+' votes while the album was nominated:<br /># '+' votes = # necessary 'force votes' - minimum 1
          %li The 'Force Next' link will only work if you have voted against the album while nominated
          %li A new tab: 'Most -' displays the albums ordered by the number of negative votes
          %li A nominated album can be deleted (only by the <i>owner</i>) by dragging it back to the list on the left