!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Vote Your Album! - Trike
    
    %link{ :rel => "stylesheet", :href => "stylesheets/jquery-ui.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css", :type => "text/css", :charset => "utf-8" }

    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1");
      google.load("jqueryui", 1);
    %script{ :src => "javascripts/application.js", :type => "text/javascript" }

  %body
    #wrap
      .header
        .title
        .main_controls
          .left
            %form{:method => "post", :action => "/control/previous"}
              %input{ :type => "image", :src => "/images/previous.png", :title => "Previous Song" }
            %form{:method => "post", :action => "/control/stop"}
              %input{ :type => "image",  :src => "/images/stop.png", :title => "Stop Playback" }
            %form{:method => "post", :action => "/control/play"}
              %input{ :type => "image",  :src => "/images/play.png", :title => "Start Playback" }
            %form{:method => "post", :action => "/control/next"}
              %input{ :type => "image",  :src => "/images/next.png", :title => "Next Song" }
            #slider
          .middle
            %span#current
          .right
      
      .content
        = yield