!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Vote Your Album - Trike

    %link{ :rel => "stylesheet", :href => "stylesheets/reset.css" }
    %link{ :rel => "stylesheet", :href => "stylesheets/jquery.ui.css" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css" }

    %script{ :src => "http://www.google.com/jsapi" }
    %script
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8.5");
    %script{ :src => "javascripts/jquery.form.js" }
    %script{ :src => "javascripts/jquery.utils.js" }
    %script{ :src => "javascripts/jquery.scrollTo.js" }
    %script{ :src => "javascripts/underscore.js" }
    %script{ :src => "javascripts/application.js" }

  %body
    %header
      = haml :header, :layout => false
    = yield
