!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Vote Your Album! - Trike

    %link{ :rel => "stylesheet", :href => "stylesheets/jquery.ui.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "stylesheets/jquery.rating.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css", :type => "text/css", :charset => "utf-8" }

    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1");
      google.load("jqueryui", 1);
    %script{ :src => "javascripts/jquery.form.js", :type => "text/javascript" }
    %script{ :src => "javascripts/jquery.rating.js", :type => "text/javascript" }
    %script{ :src => "javascripts/application.js", :type => "text/javascript" }

    %script{ :src => "http://cdn.uservoice.com/javascripts/widgets/tab.js", :type => "text/javascript" }
    %script{ :src => "javascripts/uservoice.js", :type => "text/javascript" }

  %body
    #wrap
      .header
        .title
        .main_controls
          .left
            - { "previous" => "Previous Song", "stop" => "Stop Playback",                   |
                "play" => "Start Playback", "next" => "Next Song" }.each do |action, title| |
              %a.control{ :href => "#", :ref => action }
                %img{ :src => "/images/#{action}.png", :title => title }
            #slider
          .middle
            #rate_current
              - (1..5).each do |i|
                %input.rate_star{ :name => "rate", :type => "radio", :value => i }
            #current
            #song
          .right
            %form{ :id => "change_name", :action => "/name", :method => "post" }
              %span Who am I?
              %input{ :type => "text", :name => "name", :value => User.get_or_create_by(request.ip).name }
            %a#force.display-none{ :href => "#" }
              Force Next (
              %span.necessary
              more )

      .content
        = yield

      .news
        %b Updates
        %ul
          %li Nominating an album when nothing is played immediately starts playing the album.
          %li An album can be nominated only once.
          %li
            The update button now updates the MPD library as well. Don't know how long this takes.
            %b And it might be necessary to click the button twice in order to see the new songs!
