!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Vote Your Album! - Trike

    %link{ :rel => "stylesheet", :href => "stylesheets/main.css", :type => "text/css", :charset => "utf-8" }

    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :type => "text/javascript" } google.load("jquery", "1");
    %script{ :src => "javascripts/application.js", :type => "text/javascript" }

  %body
    #wrap
      .header
        .title
        .main_controls
          .left
            %a{ :href => "control/previous" }
              %img.previous{ :src => "/images/previous.png", :title => "Previous Song" }
            %a{ :href => "control/next" }
              %img.next{ :src => "/images/next.png", :title => "Next Song" }
          .middle
            %span#current_song= @song
          .right
            %a{ :href => "/play" } Start Playback
      
      .content
        = yield