%section.sign-in
  %iframe{ :src => "http://vote-your-album.rpxnow.com/openid/embed?token_url=http%3A%2F%2Fmusic.trike.com.au%2Fsigned-in&default_provider=google", :scrolling => "no", :frameBorder => "no", :allowtransparency => "true", :style => "width:400px;height:240px" }
