- @nominations.each do |nomination|
  %article{album_attributes(nomination, request.ip)}
    .info
      %img.art
      %p= nomination.artist
      %p= nomination.name
      .score= nomination.score_s

    %aside.voting
      - if nomination.can_be_voted_for_by?(request.ip)
        %a.up{ :href => "/vote/up", :ref => nomination.id, :title => "I like that shit! Play it now..." }
          %img{ :src => "/images/plus.png" }
        %a.down{ :href => "/vote/down", :ref => nomination.id, :title => "Uuuhhhh, don't know about this one - let's get some beer first." }
          %img{ :src => "/images/minus.png" }
