body {
	margin: 0;
	padding: 0;
	background-color: #bbb;
}
#wrap {
	width: 1000px;
	margin: 30px auto;
}
.header a {
	font-size: 11pt;
	font-weight: normal;
	float: right;
	padding: 0 5px;
}
.header a.disabled,
.header a.disabled:visited {
	color: #666;
}
h1 {
	font-size: 18pt;
}

.current {
	line-height: 40px;
	text-align: center;
	margin: 20px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.controls {
	text-align: center;
}
.controls a {
	padding: 0 5px;
}
.album_list {
	float: left;
	margin: 0 15px;
}
.album_list ul {
	height: 600px;
	width: 450px;
	overflow: auto;
	background-color: #fff;
	margin: 0;
	padding: 5px;
}
.album {
	padding: 2px 0;
}
.album.odd {
	background-color: #ccc;
}
.name {
	padding-right: 20px;
}
.votes {
	font-weight: bold;
	padding-right: 10px;
}