html {
  background-color: #ddd;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, Georgia;
  width: 68em;
  margin: 1.3em auto 1em auto;
  padding: 0;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #2E6E9E;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a.disabled,
a.disabled:hover {
  cursor: default;
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0.3em 0;
}

body > header,
body > section {
  position: relative;
  background-color: #fff;
  padding: 1em;
  -webkit-border-radius: 1.1em;
  -moz-border-radius: 1.1em;
  border-radius: 1.1em;
}

/* -- Header
 * -------------------------------------------------------- */
body > header {
  height: 6.1em;
  margin-bottom: 2em;
}

body > header article {
  width: 30em;
  height: 4.9em;
  padding: 0.7em;
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
}

body > header article p {
  padding: 0.1em;
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
}

body > header article footer {
  margin-top: 0.5em;
}

body > header article footer p {
  float: left;
  width: 9.9em;
  text-align: left;
}

body > header article footer p.force {
  text-align: center;
}

body > header article footer p.force a:hover {
  color: #000;
}

body > header article footer p#time {
  float: right;
  text-align: right;
}

body > header aside {
  position: absolute;
  width: 14em;
  height: 4.8em;
  padding: 0.7em;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
}

body > header aside.right {
  right: 1.1em;
  top: 1.1em;
  text-align: right;
}

body > header .controls {
  text-align: center;
  margin-bottom: 0.9em;
}

body > header .controls img {
  height: 2em;
}

body > header .controls .play img {
  height: 3em;
}

body > header #slider {
  height: 0.6em;
}
body > header #slider .ui-slider-handle {
  height: 0.9em;
  width: 0.9em;
  top: -0.25em;
  margin-left: -0.2em;
}

/* -- Content
 * -------------------------------------------------------- */
body > section {
  float: left;
  height: 28em;
  width: 31em;
  overflow: hidden;
}

body > section.right {
  float: right;
}

section.music {
  height: 28em;
}

section.upcoming,
section.updates {
  height: 12.5em;
  float: right;
}

section.updates {
  margin-top: 1em;
}

section.music.over,
section.upcoming.over {
  background-color: #D0E5F5;
}

section.music .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 30em;
  width: 33em;
  background-color: rgba(208, 229, 245, 0.8);
  overflow: hidden;
  -webkit-border-radius: 1.1em;
  -moz-border-radius: 1.1em;
  border-radius: 1.1em;
}
section.music .overlay .spinner {
  margin: 12.5em 13em;
}

section.music #search {
  position: absolute;
  top: 0.6em;
  right: 1em;
}

section.music #query {
  width: 18em;
  margin-left: 2.5em;
}

section.music #search .shuffle {
  display: block;
  float: left;
  padding: 0.15em 0;
}

section.music #search .shuffle img {
  height: 1.25em;
}

section.music > section,
section.upcoming > section,
section.updates > section {
  height: 26em;
  padding: 0 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

section.upcoming > section,
section.updates > section {
  height: 10.5em;
}

article.album {
  clear: both;
  height: 3.1em;
  padding: 2px 4px;
  border-bottom: 1px solid #000;
  line-height: 1.5em;
  cursor: pointer;
  cursor: hand;
}

article.ui-draggable-dragging {
  border: 1px solid #000;
  background-color: #fff;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
}

article.album:hover {
  background-color: #D0E5F5;
  -webkit-border-top-left-radius: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -moz-border-radius-topright: 0.4em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

.art {
  float: left;
  width: 3em;
  height: 3em;
  margin-right: 0.6em;
}

article.album .info {
  position: relative;
  float: left;
  width: 27em;
}

article.album .info p {
  height: 1.5em;
  overflow: hidden;
}

article.album .score {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  opacity: 0.2;
  line-height: 1em;
  z-index: 1;
}

article.album.positive-score .score {
  color: #0a0;
}

article.album.negative-score .score {
  color: #c00;
}

article.album .voting {
  float: right;
  width: 1.1em;
}

article.album .voting a {
  display: block;
  margin: 0;
  padding: 0.15em 0;
}

article.album .voting img {
  height: 1.2em;
}

section.updates article {
  padding: 0.3em;
}

section.updates article:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

section.updates article time {
  font-size: 0.7em;
  margin: 0.5em 0 0 1em;
  opacity: 0.6;
}
