body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
}
#wrap {
	width: 1000px;
	margin: 20px auto 10px auto;
}
a {
	font-size: 12pt;
	font-weight: bold;
	padding: 2px 0;
}
a,
a:visited {
  color: #333;
  text-decoration: none;
}
a.disabled,
a.disabled:visited {
  color: #aaa;
}
a img {
  border: none;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  visibility: hidden;
}
.display-none {
  display: none;
}

.header .title {
	height: 80px;
	width: 541px;
	background: url(/images/title.png) no-repeat;
	margin: 0 auto;
}
.main_controls {
  border-bottom: 2px solid #333;
  height: 80px;
}
.main_controls .left {
  width: 20%;
  margin-top: 20px;
}
.main_controls .left form {
  display: inline;
}
.main_controls .left #slider {
	margin-top: 5px;
	height: 10px;
}
.main_controls .left #slider .ui-slider-handle {
	height: 12px;
	width: 12px;
}
.main_controls .middle {
  float: left;
  width: 60%;
  text-align: center;
  padding-top: 14px;
  color: #777;
}
.main_controls .middle div {
  padding-top: 2px;
}
.main_controls .middle #rate_current {
  width: 85px;
  height: 21px;
  margin: 0 auto;
}
.main_controls .right {
  margin-top: 53px;
  width: 20%;
  text-align: right;
}
.main_controls .right a {
  margin: 0 4px;
}
.main_controls img {
  margin-top: 3px;
  height: 25px;
}

.album_list {
	float: left;
	position: relative;
	margin: 20px 15px 0 15px;
}
.album_list p {
  margin: 5px 0;
  padding: 0;
}
.album_list b {
  text-decoration: underline;
}
.album_list ul {
	height: 500px;
	width: 450px;
	border: 1px solid #000;
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
	overflow-y: scroll;
}
.album_list ul.over {
  border-style: dashed;
}
.album_list .overlay {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 450px;
  height: 500px;
  top: 73px;
  left: 1px;
  opacity: 0.8;
}
.album_list .overlay .spinner {
  margin: 200px 175px;
}
.album_list li {
  padding: 4px 5px;
  width: 425px;
}
.album_list li.odd {
	background-color: #ddd;
}
.album_list li .left {
  width: 390px;
}
.album_list.upcoming li .left {
  width: 365px;
}
.album_list.list li .left,
.album_list.upcoming li.deleteable .left {
  cursor: pointer;
}
.album_list.list li .left .value {
  font-weight: bold;
  margin-left: 5px;
}
.album_list.list li img {
  height: 15px;
}
.album_list.upcoming li img {
  height: 18px;
  margin-top: 3px;
}
.album_list li .toggle_songs {
  display: block;
  float: left;
  margin: 4px 4px 0 0;
  padding: 0;
  background: url(/images/toggle.png) no-repeat 0 0;
  height: 11px;
  width: 13px;
}
.album_list li.expanded .toggle_songs {
  background-position: 0 -11px;
}
.album_list li .songs {
  padding: 3px 0 0 15px;
  display: none;
}
.album_list li .songs .song {
  padding: 2px 0;
}
.album_list li.expanded .songs {
  display: block;
}
.album_list li .score {
  display: block;
  float: left;
  width: 22px;
  font-weight: bold;
  padding-left: 3px;
}
.album_list li .score.positive {
  color: #390;
}
.album_list li .score.negative {
  color: #f30;
}
.album_list li .name {
	font-style: italic;
}
.album_list li .user {
  color: #888;
  font-size: 0.7em;
}
#top {
  width: 450px;
  height: 19px;
  padding-top: 8px;
  overflow: hidden;
}
form {
  margin: 10px 0;
}
input[type = text] {
  width: 260px;
  border: 1px solid #000;
}

#tabs {
  height: 23px;
  overflow-y: hidden;
  border: none;
  margin-top: 0;
}
#tabs li {
  float: left;
  width: auto;
  border: 1px solid #000;
  border-top: none;
  padding: 1px 5px;
  margin: 0 3px;
}
#tabs li.selected {
  border-style: dashed;
  border-top: none;
}
#tabs li a {
  font-size: 10pt;
  font-weight: normal;
}
#tabs li a:hover {
  text-decoration: underline;
}

.news {
  clear: both;
  padding-top: 20px;
}
.news ul {
  margin: 5px 0 0 0;
}